<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static',filename='CSS/404.css') }}">

    <title>Perdu-e dans les limbes du net ?</title>
</head>

    <body>
        <header>
            <h1 align="center"> Suis le lapin blanc Néo</h1>
        </header>

           <div class="container">
               <img class="python" src="{{ url_for('static',filename='images/lapinblanc.jpg')}}" width="50%" alt="La quête de la page HTML"/>
           </div>
    </body>


</html>





    </div>
  </body>
</html>